@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}
.container{
    max-width: 350px;
    background-color: hsl(360, 100%, 100%);
    margin:0px auto;
    overflow: hidden;
    border-radius: 30px;
}
.image img{
    padding-bottom: 30px;
}
.title{
    text-align: center;
}
.title h2{
    color: rgba(6, 4, 27, 0.8);
    font-size: 28px;
    padding-bottom: 25px;
}
.title p{
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: hsla(224, 23%, 55%, 0.8);
}
.box{
    display: flex;
    align-items: center;
    margin: 10px 22px 30px;
    justify-content: space-between;
    border: 1px solid transparent;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
}
.box a{
    padding-right: 15px;
    color: hsl(245, 74%, 48%);
}
.semi-box{
    display: flex;
    align-items: center;
}
.semi-box img{
    padding: 0 15px;
}
.plan{
    padding-top: 20px;
}
.but{
    display: flex;
    flex-direction: column;
}
.but a{
    text-decoration: none;
}
.but .but-1{
    border: 1px solid transparent;
    margin: 10px 22px 30px;
    padding: 20px;
    color: hsl(360, 100%, 100%);
    background-color: hsl(245, 75%, 52%);
    border-radius: 15px;
    font-size: 18px;
}
.but .but-2{
    margin-bottom: 50px;
    font-size: 20px;
    color: hsl(224, 5%, 59%);
}

/* For Desktop */
@media only screen and  (min-width: 768px){
    body{
        background-image: url("./images/pattern-background-desktop.svg");
    }
}
